* {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.social-media-title{
    font-weight:bolder;
}
.get-start-btn {
    justify-content: space-between;
    display: flex;
    padding: 5px 0px 30px 0px;
}
.brand-log{
    font-weight: bolder;
    font-size: 27px;
    padding-bottom: 20px;

}
.get-start-btn button {
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 6px 30px;
    color: #f8f8f9;
    background-color: #333333f7;
}

.form-container {
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding: 3rem 4rem 1rem 4rem;
    max-width: 500px;
    padding-left: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
        0px 3px 4px 0px rgb(0 0 0 / 14%),
        0px 1px 8px 0px rgb(0 0 0 / 12%);

}
.form-input{
    padding: 13px 13px;
    width: 369px;
    border-radius: 5px;
    border: 1px solid #333333a6;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-footer {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    padding-top: 15px;
}
.submit-button{
    border: none;
    border-radius: 5px;
    font-size: 17px;
    padding: 13px 150px;
    color: #f8f8f9;
    background-color: #333333f7;
}
.form-footer a {
    text-decoration: none;
}
.privacy-policy{
    font-size: 11px;
    padding-top: 50px;
}

.reset-button{
    border: none;
    border-radius: 5px;
    font-size: 17px;
    padding: 13px 76px;
    color: #f8f8f9;
    background-color: #333333f7;
}
.reset-text{
    color: #333333cf;
    font-size: 14px;
}
.error-message{
    font-size: 13px;
    color: #e90e0eed;
    font-weight: bolder;
}
.success-message{
    font-size: 13px;
    color: #333;
    font-weight: bolder;
}
.error{
    outline: 1px solid #e90e0eed;
    border:none;
    padding: 13px 13px;
    width: 369px;
    border-radius: 5px;
    /* border: 1px solid #333333a6; */
    margin-top: 10px;
    margin-bottom: 25px;
}
.error:focus{
    outline: 1px solid #e90e0eed;
    border:none;
    padding: 13px 13px;
    width: 369px;
    border-radius: 5px;
    /* border: 1px solid #333333a6; */
    margin-top: 10px;
    margin-bottom: 25px;
}
